In [70]:
import pandas as pd

In [72]:
df=pd.read_csv('/Users/liang/Documents/2025nbaweb/nba_boxscores.csv')

In [73]:
df.shape

(2460, 29)

In [74]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22024,1610612758,SAC,Sacramento Kings,22401200,2025-04-13,SAC vs. PHX,W,240,46,...,33,43,31,6,4,13,7,109,11,1
1,22024,1610612753,ORL,Orlando Magic,22401186,2025-04-13,ORL @ ATL,L,240,40,...,31,43,25,11,5,15,8,105,-12,2
2,22024,1610612755,PHI,Philadelphia 76ers,22401191,2025-04-13,PHI vs. CHI,L,240,36,...,38,48,20,7,6,15,15,102,-20,2
3,22024,1610612737,ATL,Atlanta Hawks,22401186,2025-04-13,ATL vs. ORL,W,240,47,...,35,44,32,8,2,16,15,117,12,2
4,22024,1610612741,CHI,Chicago Bulls,22401191,2025-04-13,CHI @ PHI,W,240,47,...,44,59,29,10,4,13,17,122,20,2

In [75]:
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [76]:
import re

# 定義標準格式的正則表達式
pattern = re.compile(r'^[A-Z]{3} (vs\.|@) [A-Z]{3}$')

# 過濾出不符合格式的列
invalid_matchups = df[~df['MATCHUP'].str.match(pattern)]

print(invalid_matchups['MATCHUP'].unique())

[]

# test

In [77]:
team1_,team2_='OKC','HOU'

In [78]:
df[(df['MATCHUP']==f'{team1_} vs. {team2_}')|(df['MATCHUP']==f'{team2_} vs. {team1_}')|(df['MATCHUP']==f'{team1_} @ {team2_}')|(df['MATCHUP']==f'{team2_} @ {team1_}')][['TEAM_ABBREVIATION','GAME_DATE', 'MATCHUP','WL','PTS','REB','AST','STL','BLK','TOV','FG_PCT','FG3_PCT','FT_PCT']]

,TEAM_ABBREVIATION,GAME_DATE,MATCHUP,WL,PTS,REB,AST,STL,BLK,TOV,FG_PCT,FG3_PCT,FT_PCT
151,HOU,2025-04-04,HOU vs. OKC,W,125,48,24,10,5,15,0.489,0.448,0.846
152,OKC,2025-04-04,OKC @ HOU,L,111,33,24,7,6,15,0.483,0.371,0.800
645,OKC,2025-03-03,OKC vs. HOU,W,137,49,31,11,6,13,0.495,0.459,0.889
655,HOU,2025-03-03,HOU @ OKC,L,128,49,20,8,7,16,0.485,0.457,0.824
1708,HOU,2024-12-14,HOU @ OKC,L,96,49,17,7,3,16,0.365,0.239,0.600
1711,OKC,2024-12-14,OKC @ HOU,W,111,43,19,12,4,12,0.450,0.367,0.875
1868,OKC,2024-12-01,OKC @ HOU,L,116,46,30,5,4,7,0.447,0.333,0.760
1869,HOU,2024-12-01,HOU vs. OKC,W,119,51,20,3,6,10,0.413,0.351,0.769
2194,OKC,2024-11-08,OKC vs. HOU,W,126,41,24,9,8,11,0.511,0.378,0.870
2202,HOU,2024-11-08,HOU @ OKC,L,107,48,19,7,3,17,0.433,0.367,0.692

In [79]:
df[(df['MATCHUP']==f'{team1_} vs. {team2_}')|(df['MATCHUP']==f'{team2_} vs. {team1_}')|(df['MATCHUP']==f'{team1_} @ {team2_}')|(df['MATCHUP']==f'{team2_} @ {team1_}')][['TEAM_ABBREVIATION', 'MATCHUP','WL','PTS','REB','AST','STL','BLK','TOV','FG_PCT','FG3_PCT','FT_PCT']]\
.groupby(['TEAM_ABBREVIATION'])[['PTS','REB','AST','STL','BLK','TOV','FG_PCT','FG3_PCT','FT_PCT']].mean().round(2)

                     PTS   REB   AST  STL  BLK   TOV  FG_PCT  FG3_PCT  FT_PCT
TEAM_ABBREVIATION
HOU                115.0  49.0  20.0  7.0  4.8  14.8    0.44     0.37    0.75
OKC                120.2  42.4  25.6  8.8  5.6  11.6    0.48     0.38    0.84

# function

In [80]:
def avg_stats(team1, team2, df_):
    stats_ = df_[
        (df_['MATCHUP'] == f'{team1} vs. {team2}') |
        (df_['MATCHUP'] == f'{team2} vs. {team1}') |
        (df_['MATCHUP'] == f'{team1} @ {team2}') |
        (df_['MATCHUP'] == f'{team2} @ {team1}')
    ][['TEAM_ABBREVIATION', 'MATCHUP', 'WL', 'PTS', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'FG_PCT', 'FG3_PCT', 'FT_PCT']]
    
    print('num of matches:', int(stats_.shape[0] / 2))

    # 勝場數統計
    win_df = stats_.groupby(['TEAM_ABBREVIATION', "WL"]).size().unstack(fill_value=0)[['W']]
    win_df = win_df.rename(columns={"W": "Wins"})

    # 平均數據（基本欄位）
    avg_df = stats_.groupby(['TEAM_ABBREVIATION'])[
        ['PTS', 'REB', 'AST', 'STL', 'BLK', 'TOV']
    ].mean().round(1)

    # 命中率欄位：乘 100 再四捨五入
    pct_df = stats_.groupby(['TEAM_ABBREVIATION'])[
        ['FG_PCT', 'FG3_PCT', 'FT_PCT']
    ].mean().mul(100).round(1)

    # 合併命中率欄位到 avg_df 後方
    avg_df = pd.concat([avg_df, pct_df], axis=1)

    # 插入勝場數在最前面
    avg_df.insert(0, 'Wins', win_df['Wins'])

    return avg_df

In [81]:
teams=['OKC','HOU','LAL','DEN','LAC','MIN','GSW','MEM','CLE','BOS','NYK','IND','MIL','DET','ORL','MIA']

In [82]:
avg_stats('GSW','HOU',df)

num of matches: 5

,Wins,PTS,REB,AST,STL,BLK,TOV,FG_PCT,FG3_PCT,FT_PCT
TEAM_ABBREVIATION,,,,,,,,,,
GSW,3,103.4,45.6,24.2,9.6,4.6,15.4,43.6,34.9,63.7
HOU,2,101.8,46.2,24.0,9.4,6.4,14.4,42.8,29.7,66.9

In [94]:
import json

def save_all_pairwise_matchups(df_):
    teams = ['OKC','HOU','LAL','DEN','LAC','MIN','GSW','MEM','CLE','BOS','NYK','IND','MIL','DET','ORL','MIA']
    all_data = {}

    for i in range(len(teams)):
        team1 = teams[i]
        for j in range(i+1, len(teams)):
            team2 = teams[j]
            try:
                # 取得平均統計資料
                avg_df = avg_stats(team1, team2, df_).reset_index()

                # 命中率欄位重命名
                rename_dict = {
                    "FG_PCT": "FG%",
                    "FG3_PCT": "3P%",
                    "FT_PCT": "FT%"
                }
                avg_df = avg_df.rename(columns=rename_dict)

                # 組合 key
                matchup_key = 'vs'.join(avg_df['TEAM_ABBREVIATION'].tolist())

                # 建立 {欄位: [值1, 值2]} 結構
                matchup_data = {
                    col: avg_df[col].tolist()
                    for col in avg_df.columns if col != 'TEAM_ABBREVIATION'
                }

                # 加入到總資料中
                all_data[matchup_key] = matchup_data
                print(f"✅ 已加入對戰：{matchup_key}")

            except Exception as e:
                print(f"⚠️ 跳過 {team1} vs {team2}：{e}")

    # 儲存為 JSON
    with open("/Users/liang/Desktop/2025NBAGames/backend/data/matchup_stats.json", "w", encoding="utf-8") as f:
        json.dump(all_data, f, ensure_ascii=False, indent=4)

    print("🎉 所有隊伍對戰資料已成功儲存到 matchup_stats.json")

In [95]:
save_all_pairwise_matchups(df)

num of matches: 5
✅ 已加入對戰：HOUvsOKC
num of matches: 3
✅ 已加入對戰：LALvsOKC
num of matches: 4
✅ 已加入對戰：DENvsOKC
num of matches: 4
✅ 已加入對戰：LACvsOKC
num of matches: 4
✅ 已加入對戰：MINvsOKC
num of matches: 3
✅ 已加入對戰：GSWvsOKC
num of matches: 4
✅ 已加入對戰：MEMvsOKC
num of matches: 2
✅ 已加入對戰：CLEvsOKC
num of matches: 2
✅ 已加入對戰：BOSvsOKC
num of matches: 2
✅ 已加入對戰：NYKvsOKC
num of matches: 2
✅ 已加入對戰：INDvsOKC
num of matches: 2
✅ 已加入對戰：MILvsOKC
num of matches: 2
✅ 已加入對戰：DETvsOKC
num of matches: 2
✅ 已加入對戰：OKCvsORL
num of matches: 2
✅ 已加入對戰：MIAvsOKC
num of matches: 3
✅ 已加入對戰：HOUvsLAL
num of matches: 3
✅ 已加入對戰：DENvsHOU
num of matches: 4
✅ 已加入對戰：HOUvsLAC
num of matches: 4
✅ 已加入對戰：HOUvsMIN
num of matches: 5
✅ 已加入對戰：GSWvsHOU
num of matches: 4
✅ 已加入對戰：HOUvsMEM
num of matches: 2
✅ 已加入對戰：CLEvsHOU
num of matches: 2
✅ 已加入對戰：BOSvsHOU
num of matches: 2
✅ 已加入對戰：HOUvsNYK
num of matches: 2
✅ 已加入對戰：HOUvsIND
num of matches: 2
✅ 已加入對戰：HOUvsMIL
num of matches: 2
✅ 已加入對戰：DETvsHOU
num of matches: 2
✅ 已加入對戰：HOUvsORL
num of matches: 2
✅ 已加入對戰：HOUvsMIA
num of matches: 4
✅ 已加入對戰：DENvsLAL
num of matches: 4
✅ 已加入對戰：LACvsLAL
num of matches: 4
✅ 已加入對戰：LALvsMIN
num of matches: 4
✅ 已加入對戰：GSWvsLAL
num of matches: 4
✅ 已加入對戰：LALvsMEM
num of matches: 2
✅ 已加入對戰：CLEvsLAL
num of matches: 2
✅ 已加入對戰：BOSvsLAL
num of matches: 2
✅ 已加入對戰：LALvsNYK
num of matches: 2
✅ 已加入對戰：INDvsLAL
num of matches: 2
✅ 已加入對戰：LALvsMIL
num of matches: 2
✅ 已加入對戰：DETvsLAL
num of matches: 2
✅ 已加入對戰：LALvsORL
num of matches: 2
✅ 已加入對戰：LALvsMIA
num of matches: 4
✅ 已加入對戰：DENvsLAC
num of matches: 4
✅ 已加入對戰：DENvsMIN
num of matches: 3
✅ 已加入對戰：DENvsGSW
num of matches: 3
✅ 已加入對戰：DENvsMEM
num of matches: 2
✅ 已加入對戰：CLEvsDEN
num of matches: 2
✅ 已加入對戰：BOSvsDEN
num of matches: 2
✅ 已加入對戰：DENvsNYK
num of matches: 2
✅ 已加入對戰：DENvsIND
num of matches: 2
✅ 已加入對戰：DENvsMIL
num of matches: 2
✅ 已加入對戰：DENvsDET
num of matches: 2
✅ 已加入對戰：DENvsORL
num of matches: 2
✅ 已加入對戰：DENvsMIA
num of matches: 3
✅ 已加入對戰：LACvsMIN
num of matches: 4
✅ 已加入對戰：GSWvsLAC
num of matches: 3
✅ 已加入對戰：LACvsMEM
num of matches: 2
✅ 已加入對戰：CLEvsLAC
num of matches: 2
✅ 已加入對戰：BOSvsLAC
num of matches: 2
✅ 已加入對戰：LACvsNYK
num of matches: 2
✅ 已加入對戰：INDvsLAC
num of matches: 2
✅ 已加入對戰：LACvsMIL
num of matches: 2
✅ 已加入對戰：DETvsLAC
num of matches: 2
✅ 已加入對戰：LACvsORL
num of matches: 2
✅ 已加入對戰：LACvsMIA
num of matches: 4
✅ 已加入對戰：GSWvsMIN
num of matches: 3
✅ 已加入對戰：MEMvsMIN
num of matches: 2
✅ 已加入對戰：CLEvsMIN
num of matches: 2
✅ 已加入對戰：BOSvsMIN
num of matches: 2
✅ 已加入對戰：MINvsNYK
num of matches: 2
✅ 已加入對戰：INDvsMIN
num of matches: 2
✅ 已加入對戰：MILvsMIN
num of matches: 2
✅ 已加入對戰：DETvsMIN
num of matches: 2
✅ 已加入對戰：MINvsORL
num of matches: 2
✅ 已加入對戰：MIAvsMIN
num of matches: 4
✅ 已加入對戰：GSWvsMEM
num of matches: 2
✅ 已加入對戰：CLEvsGSW
num of matches: 2
✅ 已加入對戰：BOSvsGSW
num of matches: 2
✅ 已加入對戰：GSWvsNYK
num of matches: 2
✅ 已加入對戰：GSWvsIND
num of matches: 2
✅ 已加入對戰：GSWvsMIL
num of matches: 2
✅ 已加入對戰：DETvsGSW
num of matches: 2
✅ 已加入對戰：GSWvsORL
num of matches: 2
✅ 已加入對戰：GSWvsMIA
num of matches: 2
✅ 已加入對戰：CLEvsMEM
num of matches: 2
✅ 已加入對戰：BOSvsMEM
num of matches: 2
✅ 已加入對戰：MEMvsNYK
num of matches: 2
✅ 已加入對戰：INDvsMEM
num of matches: 2
✅ 已加入對戰：MEMvsMIL
num of matches: 2
✅ 已加入對戰：DETvsMEM
num of matches: 2
✅ 已加入對戰：MEMvsORL
num of matches: 2
✅ 已加入對戰：MEMvsMIA
num of matches: 4
✅ 已加入對戰：BOSvsCLE
num of matches: 4
✅ 已加入對戰：CLEvsNYK
num of matches: 4
✅ 已加入對戰：CLEvsIND
num of matches: 4
✅ 已加入對戰：CLEvsMIL
num of matches: 4
✅ 已加入對戰：CLEvsDET
num of matches: 3
✅ 已加入對戰：CLEvsORL
num of matches: 3
✅ 已加入對戰：CLEvsMIA
num of matches: 4
✅ 已加入對戰：BOSvsNYK
num of matches: 3
✅ 已加入對戰：BOSvsIND
num of matches: 3
✅ 已加入對戰：BOSvsMIL
num of matches: 4
✅ 已加入對戰：BOSvsDET
num of matches: 3
✅ 已加入對戰：BOSvsORL
num of matches: 4
✅ 已加入對戰：BOSvsMIA
num of matches: 3
✅ 已加入對戰：INDvsNYK
num of matches: 3
✅ 已加入對戰：MILvsNYK
num of matches: 4
✅ 已加入對戰：DETvsNYK
num of matches: 4
✅ 已加入對戰：NYKvsORL
num of matches: 3
✅ 已加入對戰：MIAvsNYK
num of matches: 4
✅ 已加入對戰：INDvsMIL
num of matches: 4
✅ 已加入對戰：DETvsIND
num of matches: 4
✅ 已加入對戰：INDvsORL
num of matches: 4
✅ 已加入對戰：INDvsMIA
num of matches: 4
✅ 已加入對戰：DETvsMIL
num of matches: 4
✅ 已加入對戰：MILvsORL
num of matches: 4
✅ 已加入對戰：MIAvsMIL
num of matches: 3
✅ 已加入對戰：DETvsORL
num of matches: 4
✅ 已加入對戰：DETvsMIA
num of matches: 4
✅ 已加入對戰：MIAvsORL
🎉 所有隊伍對戰資料已成功儲存到 matchup_stats.json

In [96]:
import json

# 讀入 allmatches.json
with open("/Users/liang/Desktop/2025NBAGames/backend/data/matchup_stats.json", "r", encoding="utf-8") as f:
    all_matches = json.load(f)

# 檢查結構
print(type(all_matches))  # 應該是 dict
print(all_matches.keys())  # 所有對戰組合 key，例如 OKCvsHOU, LALvsDEN

<class 'dict'>
dict_keys(['HOUvsOKC', 'LALvsOKC', 'DENvsOKC', 'LACvsOKC', 'MINvsOKC', 'GSWvsOKC', 'MEMvsOKC', 'CLEvsOKC', 'BOSvsOKC', 'NYKvsOKC', 'INDvsOKC', 'MILvsOKC', 'DETvsOKC', 'OKCvsORL', 'MIAvsOKC', 'HOUvsLAL', 'DENvsHOU', 'HOUvsLAC', 'HOUvsMIN', 'GSWvsHOU', 'HOUvsMEM', 'CLEvsHOU', 'BOSvsHOU', 'HOUvsNYK', 'HOUvsIND', 'HOUvsMIL', 'DETvsHOU', 'HOUvsORL', 'HOUvsMIA', 'DENvsLAL', 'LACvsLAL', 'LALvsMIN', 'GSWvsLAL', 'LALvsMEM', 'CLEvsLAL', 'BOSvsLAL', 'LALvsNYK', 'INDvsLAL', 'LALvsMIL', 'DETvsLAL', 'LALvsORL', 'LALvsMIA', 'DENvsLAC', 'DENvsMIN', 'DENvsGSW', 'DENvsMEM', 'CLEvsDEN', 'BOSvsDEN', 'DENvsNYK', 'DENvsIND', 'DENvsMIL', 'DENvsDET', 'DENvsORL', 'DENvsMIA', 'LACvsMIN', 'GSWvsLAC', 'LACvsMEM', 'CLEvsLAC', 'BOSvsLAC', 'LACvsNYK', 'INDvsLAC', 'LACvsMIL', 'DETvsLAC', 'LACvsORL', 'LACvsMIA', 'GSWvsMIN', 'MEMvsMIN', 'CLEvsMIN', 'BOSvsMIN', 'MINvsNYK', 'INDvsMIN', 'MILvsMIN', 'DETvsMIN', 'MINvsORL', 'MIAvsMIN', 'GSWvsMEM', 'CLEvsGSW', 'BOSvsGSW', 'GSWvsNYK', 'GSWvsIND', 'GSWvsMIL', 'DETvsGSW', 'GSWvsORL', 'GSWvsMIA', 'CLEvsMEM', 'BOSvsMEM', 'MEMvsNYK', 'INDvsMEM', 'MEMvsMIL', 'DETvsMEM', 'MEMvsORL', 'MEMvsMIA', 'BOSvsCLE', 'CLEvsNYK', 'CLEvsIND', 'CLEvsMIL', 'CLEvsDET', 'CLEvsORL', 'CLEvsMIA', 'BOSvsNYK', 'BOSvsIND', 'BOSvsMIL', 'BOSvsDET', 'BOSvsORL', 'BOSvsMIA', 'INDvsNYK', 'MILvsNYK', 'DETvsNYK', 'NYKvsORL', 'MIAvsNYK', 'INDvsMIL', 'DETvsIND', 'INDvsORL', 'INDvsMIA', 'DETvsMIL', 'MILvsORL', 'MIAvsMIL', 'DETvsORL', 'DETvsMIA', 'MIAvsORL'])

In [97]:
len(all_matches)

120

In [99]:
all_matches[ 'MIAvsORL']

{'Wins': [2, 2],
 'PTS': [106.2, 111.0],
 'REB': [39.2, 46.8],
 'AST': [23.8, 24.5],
 'STL': [8.8, 8.5],
 'BLK': [4.5, 6.8],
 'TOV': [16.2, 16.2],
 'FG%': [45.0, 45.6],
 '3P%': [36.8, 29.9],
 'FT%': [76.7, 76.2]}

In [100]:
avg_stats("MIA","ORL",df)

num of matches: 4

,Wins,PTS,REB,AST,STL,BLK,TOV,FG_PCT,FG3_PCT,FT_PCT
TEAM_ABBREVIATION,,,,,,,,,,
MIA,2,106.2,39.2,23.8,8.8,4.5,16.2,45.0,36.8,76.7
ORL,2,111.0,46.8,24.5,8.5,6.8,16.2,45.6,29.9,76.2

In [102]:
team1_,team2_="MIA","ORL"
df[(df['MATCHUP']==f'{team1_} vs. {team2_}')|(df['MATCHUP']==f'{team2_} vs. {team1_}')|(df['MATCHUP']==f'{team1_} @ {team2_}')|(df['MATCHUP']==f'{team2_} @ {team1_}')][['TEAM_ABBREVIATION','GAME_DATE', 'MATCHUP','WL','PTS','REB','AST','STL','BLK','TOV','FG_PCT','FG3_PCT','FT_PCT']]

,TEAM_ABBREVIATION,GAME_DATE,MATCHUP,WL,PTS,REB,AST,STL,BLK,TOV,FG_PCT,FG3_PCT,FT_PCT
1110,MIA,2025-01-27,MIA vs. ORL,W,125,43,34,9,2,18,0.522,0.366,0.667
1111,ORL,2025-01-27,ORL @ MIA,L,119,47,32,9,4,15,0.459,0.359,0.600
1566,MIA,2024-12-26,MIA @ ORL,W,89,35,21,14,6,21,0.408,0.500,0.857
1571,ORL,2024-12-26,ORL vs. MIA,L,88,42,14,12,6,23,0.442,0.172,0.833
1626,MIA,2024-12-21,MIA @ ORL,L,114,38,16,7,2,15,0.480,0.281,0.786
1629,ORL,2024-12-21,ORL vs. MIA,W,121,41,24,5,9,13,0.494,0.297,0.889
2444,ORL,2024-10-23,ORL @ MIA,W,116,57,28,8,8,14,0.427,0.367,0.727
2445,MIA,2024-10-23,MIA vs. ORL,L,97,41,24,5,8,11,0.390,0.324,0.759

# Scrap  player names for each team

In [2]:
from bs4 import BeautifulSoup as bs
import requests

In [228]:
from bs4 import BeautifulSoup as bs
import requests

# Step 1: 取得 team names
url1 = 'https://www.nba.com/teams'
r1 = requests.get(url1, headers={"User-Agent": "Mozilla/5.0"})
soup1 = bs(r1.content, "html.parser")
teams_name_tags = soup1.find_all(class_="Anchor_anchor__cSc3P TeamFigure_tfMainLink__OPLFu")
team_names = [tag.text.strip() for tag in teams_name_tags]

# Step 2: 取得 team ids
url2 = 'https://www.nba.com/stats/teams'
r2 = requests.get(url2, headers={"User-Agent": "Mozilla/5.0"})
soup2 = bs(r2.content, "html.parser")
teams_info_tags = soup2.find_all(class_="Anchor_anchor__cSc3P StatsTeamsList_teamLink__q_miK")
team_ids = [tag.get("href").split("/")[-1] for tag in teams_info_tags]

# Step 3: 配對成 dict
team_dict = dict(zip(team_ids, team_names))

# Step 4: 顯示或儲存
print(team_dict)

{'1610612738': 'Boston Celtics', '1610612751': 'Brooklyn Nets', '1610612752': 'New York Knicks', '1610612755': 'Philadelphia 76ers', '1610612761': 'Toronto Raptors', '1610612741': 'Chicago Bulls', '1610612739': 'Cleveland Cavaliers', '1610612765': 'Detroit Pistons', '1610612754': 'Indiana Pacers', '1610612749': 'Milwaukee Bucks', '1610612737': 'Atlanta Hawks', '1610612766': 'Charlotte Hornets', '1610612748': 'Miami Heat', '1610612753': 'Orlando Magic', '1610612764': 'Washington Wizards', '1610612743': 'Denver Nuggets', '1610612750': 'Minnesota Timberwolves', '1610612760': 'Oklahoma City Thunder', '1610612757': 'Portland Trail Blazers', '1610612762': 'Utah Jazz', '1610612744': 'Golden State Warriors', '1610612746': 'LA Clippers', '1610612747': 'Los Angeles Lakers', '1610612756': 'Phoenix Suns', '1610612758': 'Sacramento Kings', '1610612742': 'Dallas Mavericks', '1610612745': 'Houston Rockets', '1610612763': 'Memphis Grizzlies', '1610612740': 'New Orleans Pelicans', '1610612759': 'San Antonio Spurs'}

In [41]:
new_dict={'1610612738': 'BOS', '1610612751': 'BKN', '1610612752': 'NYK', '1610612755': 'PHI', '1610612761': 'TOR', '1610612741': 'CHI', '1610612739': 'CLE', '1610612765': 'DET', '1610612754': 'IND', '1610612749': 'MIL', '1610612737': 'ATL', '1610612766': 'CHA', '1610612748': 'MIA', '1610612753': 'ORL', '1610612764': 'WAS', '1610612743': 'DEN', '1610612750': 'MIN', '1610612760': 'OKC', '1610612757': 'POR', '1610612762': 'UTA', '1610612744': 'GSW', '1610612746': 'LAC', '1610612747': 'LAL', '1610612756': 'PHX', '1610612758': 'SAC', '1610612742': 'DAL', '1610612745': 'HOU', '1610612763': 'MEM', '1610612740': 'NOP', '1610612759': 'SAS'}

In [237]:
url='https://www.nba.com/stats/teams'
r=requests.get(url)
contents=bs(r.content)
teams_info=contents.find_all(class_="Anchor_anchor__cSc3P StatsTeamsList_teamLink__q_miK")
all_rosters = []
# 擷取 href 屬性（即超連結）
for a in teams_info:
    link = a.get("href")
    # print(link)
    team_id = link.split("/")[-1]
    url = f"https://stats.nba.com/stats/commonteamroster?LeagueID=00&Season=2024-25&TeamID={team_id}"
    headers = {
        "User-Agent": "Mozilla/5.0",
        "Referer": "https://www.nba.com/",
        "x-nba-stats-origin": "stats",
        "x-nba-stats-token": "true"
    }

    res = requests.get(url, headers=headers)
    data = res.json()

    # 抓取第一組結果（通常是總覽資料）
    headers = data['resultSets'][0]['headers']
    rows = data['resultSets'][0]['rowSet']

    df = pd.DataFrame(rows, columns=headers)
    df["TEAM_NAME"] = new_dict[team_id]
    all_rosters.append(df)

full_roster_df = pd.concat(all_rosters, ignore_index=True)

In [238]:
full_roster_df.shape

(534, 17)

In [239]:
full_roster_df.head()

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED,TEAM_NAME
0,1610612738,2024,00,Jayson Tatum,Jayson,jayson-tatum,0,F-G,6-8,210,"MAR 03, 1998",27.0,7,Duke,1628369,#3 Pick in 2017 Draft,BOS
1,1610612738,2024,00,Miles Norris,Miles,miles-norris,0,F,6-7,220,"APR 15, 2000",25.0,R,California-Santa Barbara,1641936,Signed on 03/04/25,BOS
2,1610612738,2024,00,Jrue Holiday,Jrue,jrue-holiday,4,G,6-4,205,"JUN 12, 1990",34.0,15,UCLA,201950,Traded from POR on 10/01/23,BOS
3,1610612738,2024,00,Jaylen Brown,Jaylen,jaylen-brown,7,G-F,6-6,223,"OCT 24, 1996",28.0,8,California,1627759,#3 Pick in 2016 Draft,BOS
4,1610612738,2024,00,Kristaps Porziņģis,Kristaps,kristaps-porziņģis,8,F-C,7-2,240,"AUG 02, 1995",29.0,8,Cajasol Sevilla,204001,Traded from WAS on 06/23/23,BOS

In [240]:
full_roster_df["TEAM_NAME"].nunique()

30

In [241]:
full_roster_df.to_csv("nba_2024_25_roster.csv", index=False, encoding="utf-8-sig")

# Scrap regular season standings

In [63]:
# url='https://www.nba.com/standings'
url='https://stats.nba.com/stats/leaguestandingsv3?GroupBy=conf&LeagueID=00&Season=2024-25&SeasonType=Regular%20Season&Section=overall'
headers = {
        "User-Agent": "Mozilla/5.0",
        "Referer": "https://www.nba.com/",
        "x-nba-stats-origin": "stats",
        "x-nba-stats-token": "true"
    }

res = requests.get(url, headers=headers)
data = res.json()

In [64]:
headers = data['resultSets'][0]['headers']
rows = data['resultSets'][0]['rowSet']
df = pd.DataFrame(rows, columns=headers)
print(df.columns)
print(df.shape)

Index(['LeagueID', 'SeasonID', 'TeamID', 'TeamCity', 'TeamName', 'TeamSlug',
       'Conference', 'ConferenceRecord', 'PlayoffRank', 'ClinchIndicator',
       'Division', 'DivisionRecord', 'DivisionRank', 'WINS', 'LOSSES',
       'WinPCT', 'LeagueRank', 'Record', 'HOME', 'ROAD', 'L10', 'Last10Home',
       'Last10Road', 'OT', 'ThreePTSOrLess', 'TenPTSOrMore', 'LongHomeStreak',
       'strLongHomeStreak', 'LongRoadStreak', 'strLongRoadStreak',
       'LongWinStreak', 'LongLossStreak', 'CurrentHomeStreak',
       'strCurrentHomeStreak', 'CurrentRoadStreak', 'strCurrentRoadStreak',
       'CurrentStreak', 'strCurrentStreak', 'ConferenceGamesBack',
       'DivisionGamesBack', 'ClinchedConferenceTitle', 'ClinchedDivisionTitle',
       'ClinchedPlayoffBirth', 'ClinchedPlayIn', 'EliminatedConference',
       'EliminatedDivision', 'AheadAtHalf', 'BehindAtHalf', 'TiedAtHalf',
       'AheadAtThird', 'BehindAtThird', 'TiedAtThird', 'Score100PTS',
       'OppScore100PTS', 'OppOver500', 'LeadInFGPCT', 'LeadInReb',
       'FewerTurnovers', 'PointsPG', 'OppPointsPG', 'DiffPointsPG', 'vsEast',
       'vsAtlantic', 'vsCentral', 'vsSoutheast', 'vsWest', 'vsNorthwest',
       'vsPacific', 'vsSouthwest', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Score_80_Plus',
       'Opp_Score_80_Plus', 'Score_Below_80', 'Opp_Score_Below_80',
       'TotalPoints', 'OppTotalPoints', 'DiffTotalPoints', 'LeagueGamesBack',
       'PlayoffSeeding', 'ClinchedPostSeason', 'NEUTRAL'],
      dtype='object')
(30, 92)

In [65]:
df['TEAM_NAME_ABB'] = df['TeamID'].astype(str).map(new_dict)

In [ ]:
df=df.loc[:,['TEAM_NAME_ABB','WINS', 'LOSSES']]
df.to_csv("teamstanding.csv", index=False, encoding="utf-8-sig")

In [69]:
df

   TEAM_NAME_ABB  WINS  LOSSES
0            OKC    68      14
1            CLE    64      18
2            BOS    61      21
3            HOU    52      30
4            NYK    51      31
5            LAL    50      32
6            DEN    50      32
7            IND    50      32
8            LAC    50      32
9            MIL    48      34
10           MIN    49      33
11           DET    44      38
12           GSW    48      34
13           ORL    41      41
14           MEM    48      34
15           ATL    40      42
16           SAC    40      42
17           CHI    39      43
18           DAL    39      43
19           MIA    37      45
20           TOR    30      52
21           PHX    36      46
22           BKN    26      56
23           POR    36      46
24           PHI    24      58
25           SAS    34      48
26           NOP    21      61
27           CHA    19      63
28           WAS    18      64
29           UTA    17      65

In [32]:
df.loc[:,['WINS', 'LOSSES']].sum(axis=1)

0     82
1     82
2     82
3     82
4     82
5     82
6     82
7     82
8     82
9     82
10    82
11    82
12    82
13    82
14    82
15    82
16    82
17    82
18    82
19    82
20    82
21    82
22    82
23    82
24    82
25    82
26    82
27    82
28    82
29    82
dtype: int64